#Default 16x4 Intro

#########################################

[display_data _default_16x4 intro1]
position: 0, 0
text: ====KLIPPER====

[display_data _default_16x4 intro2]
position: 1, 0
text: FW: v0.9.1-617

[display_data _default_16x4 intro3]
position: 2, 0
text: Ender 3

[display_data _default_16x4 intro4]
position: 3, 0
text: Test

#### START SPLASH SCREEN
# Comment Out to Disable or Set 'custom' to New Name
[delayed_gcode START_LOGO]
initial_duration: 0.001
gcode:
  {% set custom = "_default_16x4" %}
  SET_DISPLAY_GROUP GROUP={custom}
  UPDATE_DELAYED_GCODE ID=clear_display DURATION=2.5

### CLEAR MESSAGE AND SET DEFAULT DISPLAY GROUP
[delayed_gcode clear_display]
gcode:
  M117   
  SET_DISPLAY_GROUP GROUP={printer.configfile.settings.display.display_group}